* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #C26E4B;  /* Hintergrund Website */
  --blue:   #51657E;  /* Hintergrund Weltkarte */
  --beige:   #f5e8ca;  /* Hintergrund Postkarten */
}

h1 {
  color: #ffffff;
  font-size: clamp(1.8rem, 5vw, 5rem);
  font-weight: 700;
}

body {
  background: var(--orange);
  font-family: 'Rubik', sans-serif;
}

header {
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 3rem;
  max-height: 15vh;
 }

/* Container Weltkarte */
.worldMapContainer {
  background: var(--blue);
  border-top-left-radius: 28px;
  margin: 0rem 0rem 0rem 3rem;
  padding: 3rem 0rem;
  position: relative;
  overflow: hidden;
  max-height: 80vh;
}

/* SVG-Karte */
#WorldMapwithPins {
  display: flex;
  justify-content: center;
 }

 footer {
  height: 5vh;
 }