* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #C26E4B;  /* Hintergrund Website */
  --blue:   #51657E;  /* Hintergrund Weltkarte */
  --beige:   #F2DFC1;  /* Hintergrund Postkarten */
  --weiss: #FFFFFF;  
  --schwarz: #000000; 
}

body {
  display: grid;
  grid-template-rows: 15vh 1fr 5vh;
  height: 100vh;
  background: var(--orange);
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden;
  color: var(--schwarz);
}

header {
  display: flex; 
  align-items: center;
  padding: 0 3rem;
 }

 h1 {
  color: var(--weiss);
  font-size: clamp(1.8rem, 5vw, 5rem);
  font-weight: 800;
}

main {
  margin-left: 5rem;
}

/* Container Weltkarte */
.worldMapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  border-top-left-radius: 30px;
  height: 100%;
   }

/* SVG-Karte */
#WorldMapwithPins {
  object-fit: contain;
  height: 90%;
  width: 100%;
 }

 /* Ortsname standardmässig unsichtbar */
 .pin-label {
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none; /* verhindert, dass der Text das Hover blockiert */
}

.pin-group:hover .pin-label {
  opacity: 1;
}

#Pin_Vancouver, #Pin_Bern, #Pin_Melbourne, #Pin_Shanghai, #Pin_Cairo, #Pin_RiodeJaneiro {
    cursor: pointer;
}

/*PopUp Vorder- und Rückseite Postkarte*/
dialog {
    position: absolute;
    width: 85vw;
    height: 85vh;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--orange);
    border: none;
}

#btn-close {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 10;
  background: none;          
  border: none;             
  color: var(--beige);          
  font-weight: 700;
  font-size: 30px;         
  cursor: pointer;
  line-height: 1;
  padding: 0;
  user-select: none;
  text-shadow: none;
  transition: all 0.15s ease;
}

#btn-close:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

#btn-info {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 25px;
  background: var(--beige);
  color: var(--orange);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease;
}
#btn-info:hover {
  filter: brightness(0.95);
  transform: scale(1.05);
}

.postcard-container {
  display: flex;
  align-items: center;      
  justify-content: center;  
  gap: 10px;               
  width: 100%;
  height: 100%;     
}

.postcard-front,
.postcard-back {
width: 46vh;
height: 69vh;
  }
/*---------------------------------------Postkarte Voderseite-------------------------------------------*/
.postcard-front {
  display: grid;
  place-items: center;
  position: relative;
  transform: translateY(-1vh); 
}

.postcard-front img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-overlay {
  position: absolute;
  top: 0;            
  left: 0;           
  width: 100%;       
  height: 100%;     
  background: var(--beige);
  padding: 16px 16px 24px 16px;
  font-size: 0.8rem;
  line-height: 1.4;
  overflow-y: auto;
  scrollbar-width: thin;
  display: none;
  z-index: 100;
}


.info-overlay::-webkit-scrollbar {
  width: 6px;
}

.info-overlay::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
}

.info-close {
  position: absolute;
  top: 8px;
  left: 16px;
  background: none;
  border: none;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
  line-height: 1;
  padding: 0;
}

.info-scroll {
  margin-top: 40px;
  padding-right: 8px;
  font-size: 0.95rem;
}

.info-scroll strong {
  display: block;
  font-weight: 900;
  margin-bottom: 0.3rem;
}
 
.info-scroll p {
  margin: 0 0 1rem 0;
  
}

/*---------------------------------------Postkarte Rückseite-------------------------------------------*/

.postcard-back {
  background: var(--beige);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* statt repeat(3, 1fr) */
  grid-template-rows: 0.6fr repeat(5, 1fr);
  padding: 1.5vh 2vw;
  transform: translateY(1vh);
}

/* Datepicker Container */
.datepicker-container {
 display: flex;
 justify-content: flex-end;
 gap: 8px;
 grid-column: 2 / 4;   /* Spalte 2–3 */
 grid-row: 1;          /* Zeile 1 */
 z-index: 2;
 padding: 10px 10px 20px 10px
}

.date-input, .time-input {
    padding: 6px 8px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: var(--weiss);
    font-size: 13px;
    cursor: pointer;
}

.time-input {
    min-width: 80px;
}

.date-input.placeholder,
.time-input.placeholder {            
  letter-spacing: 0.06em;
}

.date-input::placeholder {
  color: transparent;       
}


/* Einzelne Briefmarke */
.stamp {
    width: 88%;
    height: 88%;
    max-width: 9.5rem;
    max-height: 9.5rem;
    position: relative;
    /*aspect-ratio: 1;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Positionierung Stamps */
.stamp-pm2_5          { grid-column: 1; grid-row: 2; }
.stamp-dust           { grid-column: 2; grid-row: 2; }
.stamp-uv_index       { grid-column: 3; grid-row: 2; }

.stamp-nitrogen_dioxide { grid-column: 1; grid-row: 3; }

.stamp-carbon_monoxide{ grid-column: 1; grid-row: 4; }

.stamp-alder_pollen   { grid-column: 1; grid-row: 5; }
.stamp-birch_pollen   { grid-column: 2; grid-row: 5; }
.stamp-grass_pollen   { grid-column: 3; grid-row: 5; }

.stamp-mugwort_pollen { grid-column: 1; grid-row: 6; }
.stamp-olive_pollen   { grid-column: 2; grid-row: 6; }
.stamp-ragweed_pollen { grid-column: 3; grid-row: 6; }


.stamp-value {
    font-size: 20px;
    font-weight: 700;
    margin: 4px 0;
}

.stamp-image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.stamp-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.stamp-value-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rubik Mono One", monospace;
  font-size:16px;      
  font-weight: 400;  
  letter-spacing: -0.15em;     
  text-align: center;
  pointer-events: none; 
}

/* Feinanpassungen für einzelne Stamps */

.stamp-image-wrapper.pm2_5 .stamp-value-overlay {
    top: 62%;   
}

.stamp-image-wrapper.uv_index .stamp-value-overlay {
    top: 78%;
}

.stamp-image-wrapper.nitrogen_dioxide .stamp-value-overlay {
    top: 60%;
}

.stamp-image-wrapper.carbon_monoxide .stamp-value-overlay {
    left: 57%;  
}

.stamp-image-wrapper.olive_pollen .stamp-value-overlay {
    top: 35%;   
    left: 53%;
}


/* Hover Tooltip */
.stamp-tooltip {
    position: absolute;
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--beige);
    padding: 10px 12px;
    border-radius: 6px;
    border: 2px solid #333;
    min-width: 180px;
    max-width: 250px;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    pointer-events: none;
}

.stamp:hover .stamp-tooltip {
    display: block;
}

.stamp-tooltip p {
    margin: 0;
    font-size: 11px;
    line-height: 1.4;
}

.stamp-tooltip strong {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}

/* Loading State */
.stamps-grid.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tooltip-Grundstil: kein schwarzer Rahmen */
.stamp-tooltip {
  border: none;
}

.stamp-info-box {
  grid-column: 2 / 4;   /* Spalte 2–3 */
  grid-row: 3 / 5;      /* Zeilen 3 und 4 */
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 250px;
  min-height: 100px;
  max-height: 190PX;
  padding: 0.75rem 0.9rem;
  border-radius: 8px;
}

/* Texte innerhalb der Box */
.stamp-info-box strong {
  display: block;
  margin-bottom: 6px;
}

.level-unbedenklich {
  background-color: #B6C7B4;
}

.level-maessig {
  background-color: #E3C5B9;
}

.level-schwer {
  background-color: #C89DAB;
}

 footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--blue);
  padding-right: 3rem;
  margin-left: 5rem;
  height: 100%;
 }

 footer p {
  color: grey; 
 }


